#CyanogenMod
abi/
bionic/
cts/
development/
external/
kernel/
packages/
prebuilts/
repo/
system
android/
bootable/
dalvik/
device/
frameworks/
libcore/
ndk/
pdk/
tools
art/
build/
developers/
docs/
hardware/
libnativehelper/
out/
prebuilt/
sdk/
vendor/
